<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=icon href="{{ asset("client/img/favicon.ico") }}" sizes="20x20" type="image/png">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quattrocento"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>{% block title %}Chloris Flowers{% endblock %}</title>


    <link rel="stylesheet" href="{{ asset('client/styles/style.css') }}">
    <link rel="stylesheet" href="{{ asset('client/styles/all-icon-font.css') }}">
    <link rel="stylesheet" href="{{ asset('client/styles/css-plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('client/styles/responsive.css') }}">
    {% block stylesheets %}  {% endblock %}
    <style>
        a:hover {
            color: #BD6F51;
            text-decoration: underline;
        }
    </style>

</head>
<body>
{% block navBar %}

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- search Popup -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
        <form action="http://codingeek.net/html/gazania/index.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="ti-search"></i></button>
        </form>
    </div>
    <!-- //. search Popup -->

    <!-- Info-popup -->
    <div class="popup-item info-popup">
        <div class="popup-item-inner scrollbar-primary">
            <button class="popup-close-btn info-popup-content_close">X</button>
            <div class="row">
                <div class="col-md-12">
                    <div class="popup-inner-img">
                        <div class="popup-inner-img-inner">
                            <ul>
                                <li><img src="{{ asset('client/img/others/modal-1.png') }}" alt="Flower Image">
                                </li>
                                <li><img src="{{ asset('client/img/others/modal-2.png') }}" alt="Flower Image">
                                </li>
                                <li><img src="{{ asset('client/img/others/modal-3.png') }}" alt="Flower Image">
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="popup-inner-content text-center">
                        <div class="section-title-area text-center">
                            <div class="section-title section-title-2">
                                <div class="icon">
                                    <img src="{{ asset('client/img/icon/title.svg') }}" alt="Bloom">
                                </div>
                                <div class="title-text">
                                    <h2 class="title">Nous Contacter</h2>
                                </div>
                            </div>
                        </div>
                        <address><a href="tel:+216 21900767">+216 21900767 / +216 21184775</a> <br>
                            <a href="mailto:info@bloom.com">flowerschloris@gmail.com</a></address>
                        <div class="social_share">
                            <ul>
                                <li><a href="https://www.instagram.com/chloris.flowers/?hl=fr" target="_blank"><i
                                                class="fa fa-instagram"></i></a></li>

                                <li><a href="https://www.facebook.com/ChlorisflowersTunisia" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Message-popup -->
    <div class="popup-item message-popup">
        <div class="popup-item-inner scrollbar-primary">
            <button class="popup-close-btn message-popup-content_close">X</button>
            <div class="row">
                <div class="col-md-12">
                    <div class="message-popup-img">
                        <img src="{{ asset('client/img/others/modal-4.png') }}" alt="">
                    </div>
                    <div class="popup-inner-content">
                        <div class="section-title-area ">
                            <div class="section-title section-title-2">
                                <div class="icon">
                                    <img src="{{ asset('client/img/icon/title.svg') }}" alt="Bloom">
                                </div>
                                <div class="title-text">
                                    <h2 class="title">Send a message</h2>
                                </div>
                            </div>
                        </div>
                        <form action="#" class="message-popup-form">
                            <label>Full name*</label>
                            <input type="text" name="name">
                            <label>Email address*</label>
                            <input type="email" name="email">
                            <label>Insert message</label>
                            <textarea name="message"></textarea>
                            <div class="btn-wrapper">
                                <button class="boxed-btn btn-rounded" type="submit">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location-popup -->
    <div class="popup-item location-popup ">
        <div class="popup-item-inner scrollbar-primary">
            <button class="popup-close-btn location-popup-content_close">X</button>
            <div class="row">
                <div class="col-md-12">
                    <div class="popup-inner-img">
                        <div class="popup-inner-img-inner">
                            <ul>
                                <li><img src="{{ asset('client/img/others/modal-2.png') }}" alt="Flower Image">
                                </li>
                                <li><img src="{{ asset('client/img/others/modal-3.png') }}" alt="Flower Image">
                                </li>
                                <li><img src="{{ asset('client/img/others/modal-1.png') }}" alt="Flower Image">
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="popup-inner-content text-center">
                        <div class="section-title-area text-center">
                            <div class="section-title section-title-2">
                                <div class="icon">
                                    <img src="{{ asset('client/img/icon/title.svg') }}" alt="Bloom">
                                </div>
                                <div class="title-text">
                                    <h2 class="title">Working hours</h2>
                                </div>
                            </div>
                        </div>
                        <p>Monday - Friday: 9AM - 4PM <br> Saturday: 9Am - 1PM <br> Sunday: Closed </p>
                        <div class="social_share">
                            <ul>
                                <li><a href="https://www.instagram.com/codingeeknet" target="_blank"><i
                                                class="fa fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/codingeeknet" target="_blank"><i
                                                class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/codingeek.net/" target="_blank"><i
                                                class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar area start -->
    <div class="nav-style-01-wrap">
        <nav class="navbar navbar-area navbar-expand-lg nav-style-01 nav-style-6-color">
            <div class="container-fluid nav-container">
                <div class="responsive-mobile-menu">
                    <div class="logo-wrapper mobile-logo">
                        <a href="{{ path('accueil') }}" class="logo">
                            <img src="{{ asset('client/img/logosite.png') }}" alt="logo">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bloom_main_menu"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </span>
                    </button>
                </div>
                <div class="logo-wrapper desktop-logo">
                    <a href="{{ path('accueil') }}" class="logo">
                        <img src="{{ asset('client/img/logosite.png') }}" alt="logo" width="180px" height="82px">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bloom_main_menu">
                    <ul class="navbar-nav">

                        <li>
                            <a href="{{ path('list_collection') }}">ACHETER MAINTENANT</a>
                        </li>
                        <li><a href="{{ path('behind_the_brand') }}">A PROPOS</a></li>
                        <li><a href="{{ path('tableau_dimension') }}">TABLEAU DE DIMESION</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and  is_granted('ROLE_ADMIN') %}

                        <li>
                            <a href="{{ path('listProduitAdmin') }}">Dashboard</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
                <div class="nav-right-content">
                    <ul>
                        <li class="mini-cart-icon">
                            <span class="mini-cart-icon header-navbar-active">

                         <a href="{{ path('list_Panier') }}"><i class="ti-shopping-cart"></i>
                             <sup>
                                 {{ app.session.get('panier') | length }}
                             </sup>
                         </a>

                            </span>
                        </li>
                        <li class="search" id="search">
                            <i class="ti-search"></i>
                        </li>
                        <li class="user-menu">


                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <span>Bonjour, {{ app.user.nom }}</span>
                                <ul>
                                    <li><a href="{{ path('profil') }}">Votre Compte</a></li>
                                    <li><a href="{{ path('MesCommandes') }}">Vos Commandes</a></li>
                                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                                </ul>
                            {% else %}
                                <span><a href="{{ path('registration') }}">Se connecter</a></span>

                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar area end -->
    <div class="mini-cart-wrapper" style="background-color: white">
        <div class="sidebar-nav-icon">
            <button class="mini-cart-close"><img src="{{ asset('client/img/icon/cart-icon.png') }}"
                                                 alt="Arrow Image"></button>
        </div>
        <div class="mini-cart-inner scrollbar-primary">
            <ul>
                <li>
                    <div class="section-title-area ">
                        <div class="section-title section-title-2">
                            <div class="icon">
                                <img src="{{ asset('client/img/icon/title.svg') }}" alt="Bloom">
                            </div>
                            <div class="title-text">
                                <h2 class="title">My orders</h2>
                            </div>
                        </div>
                    </div>
                </li>
                {% set panier = app.session.get('panier') %}

                {% if  app.session.get('panier') | length == 0 %}
                    <li>
                    <div class="single-cart-item d-flex">
                        <div class="cart-item">

                            <div class="cart-item-inner">
                                Votre panier est vide
                            </div>
                        </div>
                    </div>
                {% elseif app.session.get('panier') | length > 0 %}
                    {% for slug, product in panier %}
                        <li>
                            <div id="prod_{{ slug }}" class="single-cart-item d-flex">
                                <div class="cart-item">
                                  <div  id="prod_{{ slug }}" type="hidden"></div>
                                    <div class="cart-item-inner">
                                        <div class="product-image">
                                            <a href="product-details.html"><img
                                                        src="{{ asset('client/img/product/'~product.image) }}"
                                                        alt="Flower Image"></a>
                                        </div>
                                        <div class="cart-item-brief">
                                            <div class="product-order-number">{{product.qty}}</div>
                                            <div class="product-multiply">x</div>
                                            <div class="cart-product-title" style="text-transform: uppercase"><h2
                                                        class="product-title"><a href="product-details.html"></a></h2>
                                            </div>
                                            <div class="product-price">{{ product.price }} DT</div>
                                            <div class="product-remove"><a onclick="OnClickDelete(event,{{ slug }})"><i
                                                            class="fa fa-trash-o"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
                <li>
                    <div class="cart-item">
                        <span id="count" class="count"></span>
                        <div class="cart-item-inner cart-total">
                            <h2 style="font-family: var(--heading-font)">Total</h2>
                            <h2 id="total" style="font-family: var(--heading-font)">
                                <strong>{{ app.session.get('total') }} DT</strong></h2>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cart-item">
                        <div class="cart-item-inner cart-total cart-btn">
                            <div class="btn-wrapper">
                                <a href="{{ path('list_Panier') }}" class="boxed-btn btn-rounded">Panier</a>
                            </div>
                            <div class="btn-wrapper">
                                <a href="{{ path('list_collection')}}" class="boxed-btn btn-rounded">Shopping</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% for message in app.session.flashbag.get('inscription') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
    <footer class="footer-area">
        <div class="footer-top">
            <div class="container">
                <div class="row custom-gutter">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                       <div class="footer-widget widget">
                            <div class="about_us_widget">
                                <a href="index-2.html" class="footer-logo">
                                    <img src="{{ asset('client/img/logo1.png') }}" alt="footer logo">
                                </a>
                                <p>Flowers always make people better, happier, they are sunshine and medicine for the soul.</p>
                                <address><a href="tel:+0123456789">+216 21900767 / +216 21184775</a> <br><a href="mailto:info@bloom.com">Flowerschloris@gmail.com</a></address>
                                <div class="social_share">
                                    <ul>
                                        <li><a href="https://www.instagram.com/chloris.flowers/?hl=fr" target="_blank"><i
                                                        class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://www.facebook.com/ChlorisflowersTunisia" target="_blank"><i
                                                        class="fa fa-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6">
                        <div class="footer-widget widget widget_text text-center mobile-text-left">
                            <h4 class="widget-title">Horaire de Travail</h4>
                            <p>Lundi - Vendredi: 9H - 16H <br> Samedi: 9H - 14H <br> Dimanche: Fermé </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3">
                        <div class="footer-widget widget widget_nav_menu desktop-center">
                            
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3">
                        <div class="footer-widget widget widget_nav_menu desktop-center">
                            <h4>Adresse</h4>
                            <p>Bureau 2, 2 Residence Tej, Av. Mohamed Rached El Baji, Ariana 2037</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="footer-widget widget">
                            <div class="newsletter-widget">
                                <h4 class="widget-title">Nous Contacter</h4>
                                <p>Soyez parmi les premiers à recevoir et bénéficier de nos ventes de chaque semaine.</p>
                                <form action="#" class="form-input-box">
                                    <input type="text" placeholder="Enter your emaSoyez parmi les premiers à recevoir et bénéficier de nos ventes tout compris chaque semaine.il address">
                                    <button type="submit"><img
                                                src="{{ asset('client/img/icon/arrow-right-white-2.svg') }}"
                                                alt="Arrow Icon"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-long-arrow-up"></i></span>
    </div>

    <!-- back to top area end -->
{% endblock %}


{# <!-- {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('jquery') }}
    {{ encore_entry_script_tags('jquery1') }}
    {{ encore_entry_script_tags('jquery3') }}
    {{ encore_entry_script_tags('main') }}
    {{ encore_entry_script_tags('popper') }}
    {{ encore_entry_script_tags('contact') }}
    {{ encore_entry_script_tags('link') }}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('cart') }}
    {{ encore_entry_script_tags('axios') }}
    {{ encore_entry_script_tags('swal') }}
    {{ encore_entry_script_tags('maps') }} #}
<!----quantity --->

<!--date --->
<!----date picker---->

<script src="{{ asset('client/js/jquery-plugins.js') }}"></script>
<script src="{{ asset('client/js/main.js') }}"></script>
{# <script src="{{ asset('client/js/main1.js') }}"></script> #}
<script src="{{ asset('client/js/popper.js') }}"></script>
<script src="{{ asset('client/js/contact.js') }}"></script>
<script src="{{ asset('client/js/codingeek-link.js') }}"></script>
<script src="{{ asset('client/js/codingeek.js') }}"></script>
<script src="{{ asset('client/js/app.js') }}"></script>
<script src="{{ asset('client/js/axios.js') }}"></script>
<script src="{{ asset('client/js/sweetalert2.js') }}"></script>

<!---radion button livraison-->
<script>
    $(document).ready(function () {
        $("input[id='202']").click(function () {
            if ($(this).is(':checked')) {
                $("#form").hide();
            }
        });
        $("input[id='201']").click(function () {
            if ($(this).is(':checked')) {
                $("#form").show();
            }
        });

    });
</script>
<script>
    $('.date').datepicker({
        startDate: '+3d'
    });
</script>

<!----recupérer livraison--->
<script>
    function checkout(event) {
        event.preventDefault();
        const ls = $("input[id='201']").is(':checked');
        const ld = $("input[id='202']").is(':checked');
        const Rs = $("input[id='203']").is(':checked');
        const nom = $('#l_name').val();
        const prenom = $('#f_name').val();
        const adresse = $('#street-address').val();
        const phone = $('#phone').val();
        total = document.getElementById("total").innerText;
        const totalAchat = total.replace('DT', '')
        const fraisLiv= parseInt(totalAchat);
        console.log(fraisLiv+10);
        console.log(ls);
        console.log(Rs);
        let body = {
            nom: nom,
            prenom: prenom,
            livraisonSurprise: ls,
            adresse: adresse,
            tel: phone,
            livraisondomicile: ld,
            total: fraisLiv + 10,
            Recuperer : Rs
        };
        axios({
            method: 'post',
            url: '{{ path('add_order') }}',
            data: body
        }).then(function (response) {
            let status = response.data.status;
            if (status === 1) {
                swal.fire({
                    type: 'error',
                    title: 'Veuillez Remplir Le Formulaire',
                    text: 'Vérifez !',
                });
            } else {
                window.location.replace('{{ path('MesCommandes') }}');
            }
        });
    }

    function OnClickDelete(event, id) {
        event.preventDefault();
        //const fullid=this.id;
        //var id=fullid.split('_');
        var node = document.getElementById('prod_' + id);
        console.log(id);
        let body = {
            product: id
        };
        axios({
            url: '{{ path('shop_removefromcart') }}',
            data: body,
            method: 'post'
        }).then(function (response) {
            const total = response.data.total;
            const size = response.data.size;
            node.remove();
            document.getElementById("total").innerHTML = total + ' DT';
            if (status === 1) {
                Swal.fire({
                    type: 'success',
                    title: 'Produit Supprimé',
                });
            }
        });
    }

</script>
<!--- filtre par --->
<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // Get the output text
        var text = document.getElementById("txt");
        // If the checkbox is checked, display the output text
        if (checkBox.checked === true){
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
<script>
    function myFunction2() {
// Get the checkbox
        var checkBox1 = document.getElementById("myCheck1");
// Get the output text
        var text1 = document.getElementById("txt2");
// If the checkbox is checked, display the output text
        if (checkBox1.checked === true) {
            text1.style.display = "block";
        } else {
            text1.style.display = "none";
        }
    }
</script>

<script>
    function myFunction3() {
// Get the checkbox
        var checkBox1 = document.getElementById("myCheck2");
// Get the output text
        var text1 = document.getElementById("txt3");
// If the checkbox is checked, display the output text
        if (checkBox1.checked === true) {
            text1.style.display = "block";
        } else {
            text1.style.display = "none";
        }
    }
</script>

</body>
</html>
