{% extends 'baseAdmin.html.twig' %}


{% block body %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Details Livraison</h1>
        </div>



        <div class="row">

            <div class="col-lg-6">

                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        {% if item.typeLivraison == "livraisonSurpise"%}
                            <h6 class="m-0 font-weight-bold text-primary">Livraison Surprise</h6>

                        {% elseif item.typeLivraison == "livraisondomicile" %}
                            <h6 class="m-0 font-weight-bold text-primary">Livraison à Domicile</h6>
                            {% else %}
                                <h6 class="m-0 font-weight-bold text-primary">Recupérer à l'atelier</h6>
                        {% endif %}

                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample">
                        {% if item.typeLivraison == "livraisonSurpise" %}
                            <div class="card-body">
                                <strong>Nom </strong> <p>{{ item.lastNameR}} </p>
                                <strong>Prenom </strong> <p>{{ item.nameR}} </p>
                                <strong>Adresse </strong> <p>{{ item.adressR}} </p>
                                <strong>Num Tel </strong> <p>{{ item.phoneNumverR}} </p>
                                <strong>Numéro Expéditeur</strong><p>{{ item.idOrder.user.tel}}</p>
                            </div>
                        {% elseif item.typeLivraison=="livraisondomicile" %}
                            <div class="card-body">
                                <strong>Nom </strong> <p>{{ item.idOrder.user.nom}} </p>
                                <strong>Prenom </strong> <p>{{ item.idOrder.user.prenom}} </p>
                                <strong>Adresse </strong> <p>{{ item.idOrder.user.adresse}} </p>
                                <strong>Num Tel </strong> <p>{{ item.idOrder.user.tel}} </p>
                            </div>
                         {% else%}
                             <div class="card-body">
                                 <strong>Nom </strong> <p>{{ item.idOrder.user.nom}} </p>
                                 <strong>Prenom </strong> <p>{{ item.idOrder.user.prenom}} </p>
                                 <strong>Adresse </strong> <p>{{ item.idOrder.user.adresse}} </p>
                                 <strong>Num Tel </strong> <p>{{ item.idOrder.user.tel}} </p>
                             </div>
                        {% endif %}
                    </div>
                </div>



            </div>

            <div class="col-lg-6">



                <!-- Collapsable Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample3">
                        <h6 class="m-0 font-weight-bold text-primary">Image du produit</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample3">
                        <div class="card-body -align-center">
                            <img src="{{ asset('client/img/product/'~item.idProduit.image) }}" alt="rose" class="center" style="height: 255px;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;">

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->




{% endblock %}