{% extends 'base.html.twig' %}
{% block body %}
    <div class="slider-area slider-style-1  slider-style-5 margin-bottom-115 mobile-mb-50 tab-mb-80">
        <div class="slider-inner">
            <div class="slider-one-active- slider-two-active">
                <!-- slide-item -->
                <div class="slide-item">
                    <div class="slide-content">
                        <h1 class="slide-title-1 slide-title-1-bg slide-title-1-bg-1 animated" data-wow-duration=".5s" data-wow-delay=".5s">SURPRISE</h1>
                        <h2 class="slide-title-2 animated" data-wow-duration="1s" data-wow-delay="1s">Your better half</h2>
                        <div class="animated" data-wow-duration="1.5s" data-wow-delay="1.5s">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <span>tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque.</span> </p>
                        </div>
                        <div class="btn-wrapper animated" data-wow-duration="2s" data-wow-delay="2s">
                            <a class="boxed-btn btn-rounded" href="shop.html">Explore now</a>
                        </div>
                        <div class="happy-customers animated" data-wow-duration="2.5s" data-wow-delay="2.5s">


                            <p><span>2039 +</span> happy customers</p>
                        </div>
                    </div>
                    <div class="slide-image">
                        <img src="{{ asset('build/client/img/slider/slide1.png') }}" alt="" >
                    </div>
                </div>
                <!-- slide-item -->
                <div class="slide-item">
                    <div class="slide-content">
                        <h1 class="slide-title-1 slide-title-1-bg slide-title-1-bg-4 animated" data-wow-duration=".5s" data-wow-delay=".5s">PERFECT</h1>
                        <h2 class="slide-title-2 animated" data-wow-duration="1s" data-wow-delay="1s">Bouquet for her</h2>
                        <div class="animated" data-wow-duration="1.5s" data-wow-delay="1.5s">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <span>tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque.</span> </p>
                        </div>
                        <div class="btn-wrapper animated" data-wow-duration="2s" data-wow-delay="2s">
                            <a class="boxed-btn btn-rounded" href="shop.html">Explore now</a>
                        </div>
                        <div class="happy-customers animated" data-wow-duration="2.5s" data-wow-delay="2.5s">
                            <ul>
                                <li><img src="{{ asset('build/client/img/slider/customer-1.png') }}" alt="Man"></li>
                                <li><img src="{{ asset('build/client/img/slider/customer-2.png') }}" alt="Man"></li>
                                <li><img src="{{ asset('build/client/img/slider/customer-3.png') }}" alt="Man"></li>
                            </ul>

                            <p><span>2039 +</span> happy customers</p>
                        </div>
                    </div>
                    <div class="slide-image">
                        <img src="{{ asset('build/client/img/slider/ben_hussein.png') }}" alt="" >
                    </div>
                </div>
                <!-- slide-item -->
                <div class="slide-item">
                    <div class="slide-content">
                        <h1 class="slide-title-1 slide-title-1-bg slide-title-1-bg-1 animated" data-wow-duration=".5s" data-wow-delay=".5s">FRESHEST</h1>
                        <h2 class="slide-title-2 animated" data-wow-duration="1s" data-wow-delay="1s">Flowers for you</h2>
                        <div class="animated" data-wow-duration="1.5s" data-wow-delay="1.5s" >
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <span>tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque.</span> </p>
                        </div>
                        <div class="btn-wrapper animated" data-wow-duration="2s" data-wow-delay="2s">
                            <a class="boxed-btn btn-rounded" href="shop.html">Explore now</a>
                        </div>
                        <div class="happy-customers animated" data-wow-duration="2.5s" data-wow-delay="2.5s">
                            <ul>
                                <li><img src="{{ asset('build/client/img/slider/customer-1.png') }}" alt="Man"></li>
                                <li><img src="{{ asset('build/client/img/slider/customer-2.png') }}" alt="Man"></li>
                                <li><img src="{{ asset('build/client/img/slider/customer-3.png') }}" alt="Man"></li>
                            </ul>

                            <p><span>2039 +</span> happy customers</p>
                        </div>
                    </div>
                    <div class="slide-image">
                        <img src="{{ asset('build/client/img/slider/slide2.png') }}" alt="">
                    </div>
                </div>
                <!-- slide-item -->
                <div class="slide-item">
                    <div class="slide-content">
                        <h1 class="slide-title-1 slide-title-1-bg slide-title-1-bg-1 animated" data-wow-duration=".5s" data-wow-delay=".5s">WONDER</h1>
                        <h2 class="slide-title-2 animated" data-wow-duration="1s" data-wow-delay="1s">Your better half</h2>
                        <div class="animated" data-wow-duration="1.5s" data-wow-delay="1.5s" >
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <span>tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque.</span> </p>
                        </div>
                        <div class="btn-wrapper animated" data-wow-duration="2s" data-wow-delay="2s">
                            <a class="boxed-btn btn-rounded" href="shop.html">Explore now</a>
                        </div>
                        <div class="happy-customers animated" data-wow-duration="2.5s" data-wow-delay="2.5s">
                            <ul>
                                <li><img src="{{ asset('build/client/img/slider/customer-1.png') }}" alt="Man"></li>
                                <li><img src="{{ asset('build/client/img/slider/customer-2.png') }}" alt="Man"></li>
                                <li><img src="{{ asset('build/client/img/slider/customer-3.png') }}" alt="Man"></li>
                            </ul>

                            <p><span>2039 +</span> happy customers</p>
                        </div>
                    </div>
                    <div class="slide-image">
                        <img src="{{ asset('build/client/img/slider/slide3.png') }}" alt="">>
                    </div>
                </div>

            </div>
            <div class="slider-two-pagination">
                <span class="count"></span>
                <span class="total"></span>
            </div>
            <!-- <div class="slider-three-pagination-2">
                <span class="count"></span>
                <span class="total"></span>
            </div> -->

            <!-- slider-sticky-icon -->
            <div class="slider-sticky-icon">
                <ul>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}